<section>
  <h2>Basic Info</h2>
    <br>
    <h4>Apr 2005 - Mar 2010, Civil Engineering at Kyoto University.</h4>
    <p>
    I researched about concrete fracture mecanism.
    </p>
    <h4>Apr 2010 - Feb 2013, System consultant at IT Frontier(now Tata Consultancy Services).</h4>
    <p>
    I proposed the improvements using SAP to clients.<br>
    I took Applied Information Technology Engineer Examination(IPA).
    </p>
    <h4>Mar 2013 - Feb 2014, Web programmer at Grow!,Inc.</h4>
    <p>
    I impremented the subscription market place, using Ruby on Rails, jQuery, MongoDB on heroku.
    </p>
    <h4>Mar 2014 - May 2014, Freelance programmer.</h4>
    <p>
    I made the backends of the official mobileapp of <a href="http://japan-girls-expo.com/" target="_blank">JAPAN GIRLS EXPO</a>, using Ruby on Rails, nodejs, MongoDB on AWS.
    It was difficult to connect 10k clients with websocket and stream data from MongoDB.
    </p>
    <h4>May 2014 - Aug 2014, Backend programmer at Ednity.</h4>
    <p>
    <a href="https://www.ednity.com/" target="_blank">Ednity.</a> is a Japanese startup company. I used ruby(Chef), php(Fuel) on AWS.
    </p>
    <h4>Sep 2014 - Mar 2016, Backend programmer at Nota.Inc.</h4>
    <p>
    I was concerned with <a href="https://gyazo.com" target="_blank">Gyazo</a>.<br>
    Ruby on Rails, golang, nodejs, React, Chef, Serverspec... on AWS, GCP and hosting servers.
    Sometimes, I improved Windows App and <a href="https://chrome.google.com/webstore/detail/gyazo/ffdaeeijbbijklfcpahbghahojgfgebo?hl=en" target="_blank">chrome extension</a>.
    </p>

</section>
